:root {
  --underline-max-width: 0;
  --hover-color: var(--blue-france-sun-113-625-hover);
  --code-bg-color: var(--background-flat-beige-gris-galet);
  --code-bg-color: var(--grey-950-150);
  --line-number-bg-color: var(--grey-625-425);
  --filename-bg-color: var(--grey-900-175);
  --metadata-tag-bg-color: var(--info-425-625);
  --keyword-color: var(--text-label-green-bourgeon);
  --name-class-color: var(--text-label-pink-macaron);
  --declaration-color: var(--text-label-green-tilleul-verveine);
  --type-color: var(--text-label-orange-terre-battue);
  --name-variable-color: var(--text-label-blue-ecume);
}

/* :root[data-fr-theme="dark"] { */
/*   --border-color: #e4eaf3; */
/*   --hover-color: var(--blue-france-sun-113-625-hover); */
/*   --underline-max-width: 0; */
/*   --code-bg-color: var(--grey-950-150); */
/*   --line-number-bg-color: var(--grey-625-425); */
/*   --filename-bg-color: var(--grey-900-175); */
/*   --metadata-tag-bg-color: var(--info-425-625); */
/*   --keyword-color: var(--text-label-green-emeraude); */
/* } */

html .catala-code {
  background-color: transparent;
}

.catala-code .link-article {
  padding-left: 8px;
  font-style: italic;
  font-size: 0.9rem;
  font-family: serif;
}

.catala-code .link-article:hover {
  cursor: pointer;
  color: var(--hover-color);
}

.catala-code summary {
  padding-bottom: 0.5rem;
  cursor: pointer;
  font-style: italic;
}

.catala-code .toc summary {
  font-weight: bold;
  font-size: 1.25rem;
  font-style: normal;
  padding: 16px 0;
}

.catala-code .toc-0,
.catala-code .toc-1,
.catala-code .toc-2,
.catala-code .toc-3,
.catala-code .toc-4,
.catala-code .toc-5,
.catala-code .toc-6,
.catala-code .toc-7,
.catala-code .toc-8,
.catala-code .toc-9 {
  padding-left: 32px;
  font-size: 1.2rem;
  align-items: center;
}

.catala-code .toc-0 {
  list-style-type: upper-roman;
}

.catala-code .toc-1 {
  list-style-type: upper-latin;
}

.catala-code .toc-2 {
  list-style-type: decimal;
}

.catala-code .toc-3 {
  list-style-type: lower-latin;
}

.catala-code .toc-4 {
  list-style-type: lower-roman;
}

.catala-code .toc-5,
.catala-code .toc-6,
.catala-code .toc-7,
.catala-code .toc-8,
.catala-code .toc-9 {
  list-style-type: decimal;
}

.catala-code .toc-item a:hover {
  cursor: pointer;
  color: var(--grey-1000-75-hover);
  opacity: 100%;
}

.catala-code .selected {
  background-color: var(--selected-bg-color);
  border-bottom: none;
}

.catala-code .law-text {
  /* font-family: "Inter", "Open Sans", sans-serif; */
  /*  font-family: "Spectral", serif; */
  /*  font-weight: semi-bold; */
  /* font-size: 1.1rem; */
}

.catala-code .linenos {
  background-color: var(--line-number-bg-color);
  opacity: 0.75;
  padding: 0;
}

.catala-code .linenos pre {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: fit-content;
  padding: 0.5rem 0.25rem;
  font-weight: 500;
  text-decoration: none;
}

.catala-code .linenodiv span:hover {
  cursor: pointer;
  font-weight: bold;
  color: var(--hover-color);
  opacity: 100%;
}

.catala-code ul {
  padding-left: 3rem;
}

.catala-code ul,
.catala_code li {
  list-style-type: disc !important;
}

.catala-code .filename {
  display: inline-flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  width: 100%;
  font-family: monospace;
  color: var(--grey-200-850);
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--filename-bg-color);
  border: none;
}

.catala-code .filename:hover {
  color: var(--hover-color);
}

.catala-code .code-wrapper {
  padding: 0;
  margin: 1rem 0;
  overflow-x: auto;
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.catala-code .code {
  background-color: var(--code-bg-color);
  padding-left: 0.5rem;
  width: 100%;
}

.catala-code .code-metadata .filename::after {
  content: "metadata";
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: fit-content;
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 1.5rem;
  padding: 0 0.5rem;
  overflow: initial;
  max-height: none;
  font-weight: 700;
  max-width: 100%;
  text-transform: uppercase;
  border-radius: 0.25rem;
  color: var(--text-default-info);
  background-color: var(--background-contrast-info);
  --text-spacing: 0;
  --title-spacing: 0;
  --underline-img: none;
  --hover-tint: var(--hover);
  --idle: transparent;
  --hover: var(--background-contrast-info-hover);
  --active: var(--background-contrast-info-active);
}

.catala-code h1,
.catala-code h2,
.catala-code h3,
.catala-code h4,
.catala-code h5,
.catala-code h6,
.catala-code h7,
.catala-code h8,
.catala-code h9 {
  font-weight: 700 !important;
  margin: var(--title-spacing);
  text-decoration-style: none !important;
}

.catala-code h1 {
  font-size: 2rem !important;
  line-height: 2.5rem !important;
}

.catala-code h2 {
  font-size: 1.75rem !important;
  line-height: 2.25rem !important;
}

.catala-code h3 {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

.catala-code h4 {
  font-size: 1.375rem !important;
  line-height: 1.75rem !important;
}

.catala-code h5 {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

.catala-code h6 {
  font-size: 1.125rem !important;
  line-height: 1.5rem !important;
}

.catala-code h7 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.catala-code h8 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding-bottom: 0.25rem;
  padding-top: 0.5rem;
}

.catala-code h9 {
  font-size: 1rem;
  line-height: 1rem;
  padding-bottom: 0rem;
  padding-top: 0rem;
}

@media (max-width: 740px) {
  html .catala-code {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .catala-code .code-wrapper {
    font-size: 0.9rem;
    line-height: 1rem;
  }

  .catala-code h1 {
    font-size: 2rem;
    line-height: 2.15rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

  .catala-code h2 {
    font-size: 1.5rem;
    line-height: 1.6rem;
    padding: 1.5rem 0;
  }

  .catala-code h3 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding-top: 1rem;
  }

  .catala-code h4 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding-top: 0;
  }

  .catala-code h5 {
    font-size: 1.15rem;
    padding: 0;
  }

  .catala-code h6 {
    font-size: 1rem;
    padding: 0;
  }

  .catala-code h7 {
    font-size: 0.9rem;
    padding: 0;
  }

  .catala-code h8 {
    font-size: 0.8rem;
    padding: 0;
  }
}

/* Syntax highlighting */

.catala-code .hll {
  background-color: #ffffcc;
}
.catala-code {
  background: #f8f8f8;
}
.catala-code .c {
  color: #3d7b7b;
  font-style: italic;
} /* Comment */
.catala-code .err {
  border: 1px solid #ff0000;
} /* Error */
.catala-code .k {
  color: #008000;
  font-weight: bold;
} /* Keyword */
.catala-code .code span .o {
  color: red;
} /* Operator */
.catala-code .ch {
  color: #3d7b7b;
  font-style: italic;
} /* Comment.Hashbang */
.catala-code .cm {
  color: #3d7b7b;
  font-style: italic;
} /* Comment.Multiline */
.catala-code .cp {
  color: #9c6500;
} /* Comment.Preproc */
.catala-code .cpf {
  color: #3d7b7b;
  font-style: italic;
} /* Comment.PreprocFile */
.catala-code .c1 {
  color: #3d7b7b;
  font-style: italic;
} /* Comment.Single */
.catala-code .cs {
  color: #3d7b7b;
  font-style: italic;
} /* Comment.Special */
.catala-code .gd {
  color: #a00000;
} /* Generic.Deleted */
.catala-code .ge {
  font-style: italic;
} /* Generic.Emph */
.catala-code .gr {
  color: #e40000;
} /* Generic.Error */
.catala-code .gh {
  color: #000080;
  font-weight: bold;
} /* Generic.Heading */
.catala-code .gi {
  color: #008400;
} /* Generic.Inserted */
.catala-code .go {
  color: #717171;
} /* Generic.Output */
.catala-code .gp {
  color: #000080;
  font-weight: bold;
} /* Generic.Prompt */
.catala-code .gs {
  font-weight: bold;
} /* Generic.Strong */
.catala-code .gu {
  color: #800080;
  font-weight: bold;
} /* Generic.Subheading */
.catala-code .gt {
  color: #0044dd;
} /* Generic.Traceback */
.catala-code .kc {
  color: #008000;
  font-weight: bold;
} /* Keyword.Constant */
.catala-code .kd {
  color: var(--declaration-color);
  font-weight: bold;
} /* Keyword.Declaration */
.catala-code .kn {
  color: #008000;
  font-weight: bold;
} /* Keyword.Namespace */
.catala-code .kp {
  color: #008000;
} /* Keyword.Pseudo */
.catala-code .kr {
  color: var(--keyword-color);
  font-weight: bold;
} /* Keyword.Reserved */
.catala-code .kt {
  color: var(--type-color);
} /* Keyword.Type */
.catala-code .m {
  color: #666666;
} /* Literal.Number */
.catala-code .s {
  color: #ba2121;
} /* Literal.String */
.catala-code .na {
  color: #687822;
} /* Name.Attribute */
.catala-code .nb {
  color: #008000;
} /* Name.Builtin */
.catala-code .nc {
  color: var(--name-class-color);
  font-weight: bold;
} /* Name.Class */
.catala-code .no {
  color: #880000;
} /* Name.Constant */
.catala-code .nd {
  color: #aa22ff;
} /* Name.Decorator */
.catala-code .ni {
  color: #717171;
  font-weight: bold;
} /* Name.Entity */
.catala-code .ne {
  color: #cb3f38;
  font-weight: bold;
} /* Name.Exception */
.catala-code .nf {
  color: #0000ff;
} /* Name.Function */
.catala-code .nl {
  color: #767600;
} /* Name.Label */
.catala-code .nn {
  color: #0000ff;
  font-weight: bold;
} /* Name.Namespace */
.catala-code .nt {
  color: #008000;
  font-weight: bold;
} /* Name.Tag */
.catala-code .nv {
  color: var(--name-variable-color);
} /* Name.Variable */
.catala-code .ow {
  color: #aa22ff;
  font-weight: bold;
} /* Operator.Word */
.catala-code .w {
  color: #bbbbbb;
} /* Text.Whitespace */
.catala-code .mb {
  color: #666666;
} /* Literal.Number.Bin */
.catala-code .mf {
  color: #666666;
} /* Literal.Number.Float */
.catala-code .mh {
  color: #666666;
} /* Literal.Number.Hex */
.catala-code .mi {
  color: #666666;
} /* Literal.Number.Integer */
.catala-code .mo {
  color: #666666;
} /* Literal.Number.Oct */
.catala-code .sa {
  color: #ba2121;
} /* Literal.String.Affix */
.catala-code .sb {
  color: #ba2121;
} /* Literal.String.Backtick */
.catala-code .sc {
  color: #ba2121;
} /* Literal.String.Char */
.catala-code .dl {
  color: #ba2121;
} /* Literal.String.Delimiter */
.catala-code .sd {
  color: #ba2121;
  font-style: italic;
} /* Literal.String.Doc */
.catala-code .s2 {
  color: #ba2121;
} /* Literal.String.Double */
.catala-code .se {
  color: #aa5d1f;
  font-weight: bold;
} /* Literal.String.Escape */
.catala-code .sh {
  color: #ba2121;
} /* Literal.String.Heredoc */
.catala-code .si {
  color: #a45a77;
  font-weight: bold;
} /* Literal.String.Interpol */
.catala-code .sx {
  color: #008000;
} /* Literal.String.Other */
.catala-code .sr {
  color: #a45a77;
} /* Literal.String.Regex */
.catala-code .s1 {
  color: #ba2121;
} /* Literal.String.Single */
.catala-code .ss {
  color: #19177c;
} /* Literal.String.Symbol */
.catala-code .bp {
  color: #008000;
} /* Name.Builtin.Pseudo */
.catala-code .fm {
  color: #0000ff;
} /* Name.Function.Magic */
.catala-code .vc {
  color: #19177c;
} /* Name.Variable.Class */
.catala-code .vg {
  color: #19177c;
} /* Name.Variable.Global */
.catala-code .vi {
  color: #19177c;
} /* Name.Variable.Instance */
.catala-code .vm {
  color: #19177c;
} /* Name.Variable.Magic */
.catala-code .il {
  color: #666666;
} /* Literal.Number.Integer.Long */
